.tabs{
	margin: 0 0 50px;
}

.tabs-nav{
	position: relative;
	z-index: 5;
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0 10px;
		display: flex;
		flex-wrap: wrap;
	}
	li{
		margin-right: 3px;
	}
}

.tabs-nav-item{
	cursor: pointer;
	transition: all 0.3s ease-out;
	display: block;
	padding: 10px 15px;
	background: #979797;
	color: #fff;
	border-radius: 6px 6px 0 0;
	margin: 0 0 -1px;
	border: 1px solid #979797;
	font-size: 20px;
	font-weight: 700;
	&:hover{
		color: #979797;
		background: #eee;
		border-bottom: 1px solid #eee;
	}
	&.open{
		color: #979797;
		background: #eee;
		border-bottom: 1px solid #eee;
	}
}

.tabs-body{
	position: relative;
}

.tab-item{
	transition: all 1s ease-out;
	height: 0;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	&.open{
		height: auto;
		opacity: 1;
		visibility: visible;
		position: static;
	}
}

.tab-item-holder{
	background: #eee;
	border: 1px solid #979797;
	border-radius: 6px;
	padding: 20px 25px;
	p{
		&:last-child{
			margin-bottom: 0;
		}
	}
}