.posts-list{
	display: flex;
	flex-wrap: wrap;
	@media (min-width: 1024px) {
		margin: 0 -15px;
	}
	.post-item{
		width: 100%;
		margin-bottom: 30px;
		@media (min-width: 1024px) {
			max-width: 33.33%;
			padding: 0 15px;
		}
	}
	.post-holder{
		background: #eee;
		border-radius: 6px;
		border: 1px solid #979797;
		padding: 20px 15px;
		line-height: 1;
		height: 100%;
	}
	.text-holder{
		line-height: 1.2;
		margin-bottom: 25px;
		p{
			margin: 0 0 5px;
		}
	}
}