.carousel-holder{
	margin: 0 0 50px;
	.slider{
		height: 450px;
		&.previous {
			z-index: 0;
		}
		&.current{
			z-index: 100;
		}
		a.previousButton, a.nextButton{
			z-index: 10;
			width: 50px;
			height: 50px;
			border: 2px solid #fff;
			border-radius: 50%;
			font-size: 18px;
			&:hover{
				svg{
					polygon{
						fill: #008000;
					}
				}
			}
			svg{
				width: 15px;
				height: 25px;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				position: absolute;
				polygon{
					transition: all 0.3s ease-out;
					fill: #fff;
				}
			}
		}
	}
}
.home-slide{
	background: #333;
	color: #fff;
	padding: 50px 75px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(0,0,0,0.6);
	}
	.container{
		position: relative;
		z-index: 2;
		min-height: 350px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	h2{
		line-height: 1;
		font-size: 60px;
		margin: 0 0 15px;
		&:only-child{
			font-size: 90px;
		}
	}
	.text{
		font-size: 24px;
		max-width: 600px;
	}
}