.users-list{
	display: flex;
	flex-wrap: wrap;
	@media (min-width: 1024px) {
		margin: 0 -30px;
	}
	.user-item{
		width: 100%;
		margin-bottom: 30px;
		@media (min-width: 1024px) {
			max-width: 50%;
			padding: 0 30px;
		}
	}
	.user-holder{
		background: #eee;
		border-radius: 6px;
		border: 1px solid #979797;
		padding: 20px 15px;
		line-height: 1;
		.nickname{
			font-size: 40px;
			margin: 0;
		}
		.name{
			font-size: 20px;
			color: #008000;
			margin-bottom: 20px;
		}
	}
	.text-holder{
		line-height: 1.2;
		margin-bottom: 25px;
		p{
			margin: 0 0 5px;
		}
	}
}